<!DOCTYPE html>
<html>
  <head>
    <!--这里的文件后缀为ejs,意思是这个文件是个html文件，但是也可以嵌套js语法，但是要用%包裹-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>试一下</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
